@model SV20T1020183.DomainModels.Supplier
@{
    ViewBag.Title = "Xóa nhà cung cấp";
}
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Supplier/Delete/@Model.SupplierID" method="post">
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                <p class="form-control-static">@Model.SupplierName</p>
            </div>
            <div class="form-group">
                <label>Tên giao dịch:</label>
                <p class="form-control-static">@Model.ContactName</p>
            </div>
            <div class="form-group">
                <label>Điện thoại:</label>
                <p class="form-control-static">@Model.Phone</p>
            </div>
            <div class="form-group">
                <label>Gmail:</label>
                <p class="form-control-static">@Model.Email</p>
            </div>
            <div class="form-group">
                <label>Địa chỉ:</label>
                <p class="form-control-static">@Model.Address</p>
            </div>
            <div class="form-group">
                <label>Tỉnh/thành:</label>
                <p class="form-control-static">@Model.Province</p>
            </div>

            <div class="form-group text-right">
                @if (ViewBag.AllowDelete)
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"> </i>
                        Xác nhận xóa
                    </button>
                }
                <a href="~/Supplier" class="btn btn-default">
                    Quay lại
                </a>
            </div>


        </form>


    </div>

</div>