@model SV20T1020183.DomainModels.ProductPhoto
@{

}
<div class="box box-primary">

    <div class="box-body">
        <form class="form-horizontal" action="~/Product/SavePhoto" method="post" enctype="multipart/form-data">
            <input type="hidden" name="ProductID" value="@Model.ProductID" />
            <input type="hidden" name="PhotoId" value="@Model.PhotoId" />
            <div class="form-group">
                <label class="control-label col-sm-2">Chọn ảnh:</label>
                <div class="col-sm-10">
                    <input type="hidden" name="Photo" value="@Model.Photo" />
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-sm-10">                        
                        <img id="Photo" src="~/images/products/@Model.Photo" class="img img-bordered" style="width:200px" />
                    </div>
                </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" autofocus name="Description"
                    value="@Model.Description">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Thứ tự:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" autofocus name="DisplayOrder"
                    value="@Model.DisplayOrder">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <div class="checkbox">
                        @* <label>
                            @if (Model.IsHidden == true)
                            {
                                <input type="checkbox" value="true" checked name="@nameof(Model.IsHidden)">
                            }
                            else
                            {
                                <input type="checkbox" value="false" name="@nameof(Model.IsHidden)">
                            }
                            không hiển thị ảnh</label> *@
                        <label><input type="checkbox" value="true" checked name="IsHidden" value="@Model.IsHidden">Không hiển thị ảnh</label>

                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-warning" href="~/Product/Edit/@Model.ProductID">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>

    </div>

</div>