@model ProductSearchResult
@{
    Layout = null;
}
<p style="margin:10px 0 10px 0">
    Có <strong>@Model.RowCount </strong>  Mặt hàng trong tổng số <strong>@Model.PageCount </strong> trang
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th style="width:80px">Ảnh</th>
                <th>Tên mặt hàng</th>
                <th>Đơn vị tính</th>
                <th>Giá</th>

                <th style="width:80px"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        <img src="~/images/products/@item.Photo" style="width:100px" alt="" />
                    </td>
                    <td>@item.ProductName</td>
                    <td>@item.Unit</td>
                    <td>@item.Price.ToString("N0")</td>
                    <td class="text-right">
                        <a href="~/Product/Edit/@item.ProductID" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Product/Delete/@item.ProductID" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div class="text-center">
    <ul class="pagination">
        @for (int p = 1; p <= Model.PageCount; p++)
        {
            if (p == Model.Page)
            {
                <li class="active"><a href="#">@p</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch('#formSearch', @p)">@p</a></li>
            }
        }
    </ul>
</div>